@font-face{
	src: url('Fonts/OpenSans-Regular.ttf');
	font-family: 'OpenSans-Regular';
}

@font-face{    
	   src: url('Fonts/OpenSans-Italic.ttf');
	   font-family: 'OpenSans-Italic'; 
}

@font-face{	    
	   src: url('Fonts/OpenSans-ExtraBold.ttf') format('truetype');
	   font-family: 'OpenSans-ExtraBold';
}

@font-face{	    
	   src: url('Fonts/OpenSans-Bold.ttf') format('truetype');
	   font-family: 'OpenSans-Bold';
}

@font-face{	    
	   src: url('Fonts/OpenSans-SemiBold.ttf') format('truetype');
	   font-family: 'OpenSans-SemiBold';
}

body {
	margin: 0;
	font-family: 'OpenSans-Regular', Helvetica, Arial, sans-serif;
	background-color: #F6F2F2;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1249px;
	margin: 0 auto;
	min-height: 89px;
	background-color: #000;
	}
/* Menu */
.menu {
	display: flex;
	text-align: center;
	justify-content: center;
}

.menu>a {
	padding: 30px 40px 35px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
	color: #e0e0e0;
	text-transform: uppercase;
	text-decoration: none;
}

.menu>a:hover{
	background-color: #ff3f40;
	height: 100%;
}

/* Main */
.main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 102px;
}

.main-wrapper{
	position: relative;
	width: 615px;
	vertical-align: top;
	margin: 0 75px 25px 0;
}

.main-heading{
	margin: 0;
	font-family: 'OpenSans-ExtraBold', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 60px;
	line-height: 1.2em;
	letter-spacing: 1.5px;
	text-transform: uppercase;

}
.main-heading > .heading-text {
	letter-spacing: 6px;
	hyphens: auto;
}

.main-text{
	max-width: 510px;
	font-size: 16px;
	margin-bottom: 65px; 
	font-family: 'OpenSans-Regular', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
}

.contact-button{
	display: flex;
	width: 230px;
	height: 58px;
	padding: 0; 
	background-color: #ff2d2d;
	color: #fff;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-family: 'OpenSans-Bold', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 34px;
	border-radius: 6px;
}
.main-image{
	width: 551px;
	height: 356px;
}
footer{
	background-color: #313030;
	padding: 0 1vw;
}
.footer-wrapper{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	min-height: 110px;
	margin: auto 0;
	padding: 20px 0 0;
	
}
.footer-wrapper>p{
	color: #e0e0e0;
	font-family: 'OpenSans-Regular', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
}
.social-media-links{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
}
.social-media-links > a:not(:last-child) {
	margin-right: 18px;}

/* Responsive */

@media screen and (max-width: 1249px) {
	.main{
		flex-wrap: nowrap;
	}
	.main-heading{
		font-size: 5vw;
	}
	.main-image { 
		width: 100%;
		height: auto;
	 }
	 .main-wrapper{
	 	box-sizing: border-box;
	 	width: 50%;
	 	margin-right: 0;
	 }
}

@media screen and (max-width: 980px) {
	.main{
		flex-wrap: nowrap;
	}
	.main-heading{
		font-size: 5vw;
	}
	.main-image { 
		width: 100%;
		height: auto;
	 }
	 .main-wrapper{
	 	box-sizing: border-box;
	 	width: 100%;
	 	margin-right: 0;
	 }
	 .heading-text{
	 	word-break: break-word;
	 	hyphens: auto;
	 }
}

@media screen and (max-width: 700px) {
	.main{
		flex-wrap: wrap;
	}
	.menu{
		flex-wrap: wrap;
	}
	.main-wrapper{
		width: 100%;
	}
	.main-image { 
		width: 100%;
		height: auto;
	  } 
  	 .main-wrapper{
	 	width: 100%;
	 	height: auto;
	 }
	 .main-heading{
	 	font-size: 50px;
	 }
	}
@media screen and (max-width: 400px) {
	.main-image { 
		width: 100%;
		height: auto;
	 }
	 .main-wrapper{
	 	width: 50%;
	 	height: auto;
	 }
}